@import "tailwindcss";

@theme {
  --color-primary: #b447eb;
  --color-background-light: #f7f6f8;
  --color-background-dark: #1c1121;

  --font-display: Manrope, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .custom-circle {
    @apply absolute w-14 h-14 bg-transparent border-[6px] border-solid dark:border-white/80;
  }
}

@layer utilities {
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 0;
    }
  }
}

@theme {
  --animate-animate1: animate 10s linear infinite;
  --animate-animate2: animate 7s linear infinite;
  --animate-animate3: animate 9s linear infinite;
  --animate-animate4: animate 10s linear infinite;
  --animate-animate5: animate 6s linear infinite;
  --animate-animate6: animate 12s linear infinite;
  --animate-animate7: animate 15s linear infinite;
  --animate-animate8: animate 16s linear infinite;
  --animate-animate9: animate 9s linear infinite;
  --animate-animate10: animate 5s linear infinite;
  --animate-shimmer: shimmer 4s linear infinite;

  --color-custom: #2d2d2d;
  --color-custom2: #edeef1;
}
